/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: rgba(0,0,0,.03) url(images/bg01.png) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #3B3B3B;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-weight: normal;
	color: #2F6BCF;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #383838;
}

a:hover {
}

/* Header */

#header-wrapper {
}

#header {
	clear: both;
	width: 1200px;
	margin: 0px auto;
}

/* Logo */

#logo {
	margin: 0px;
	padding: 30px 0px;
	color: #000000;
	text-align: center;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	text-transform: lowercase;
	font-size: 3.8em;
	color: #323030;
}

#logo h1 span {
	color: #2F6BCF;
}

#logo p {
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	color: #3B3B3B;
}

#logo p a {
	color: #3B3B3B;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #323030;
}

/* Search */

#search {
	width: 320px;
	height: 60px;
	padding: 0px;
}

#search form {
	margin: 0px;
	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 210px;
	outline: none;
	background: #F5F0E7;
	border: 1px solid #D7D0C0;
	padding: 10px;
	border-radius: 8px;
	text-transform: lowercase;
	font-family: 'Open Sans', sans-serif;
	color: #454545;
}

#search-submit {
	width: 62px;
	height: 22px;
	display: none;
	border: none;
	color: #FFFFFF;
}

/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 56px;
	background: #000000;
}

#menu {
	width: 1200px;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
}

#menu ul {
	margin: 0;
	padding: 10px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
	border-color: rgba(255,255,255,.09);
	border-right: 1px solid;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	margin: 0px 10px;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	overflow: hidden;
	width: 1200px;
	margin: 0px auto;
	padding: 30px 30px;
}

/* Content */

#content {
	float: left;
	width: 535px;
	padding-top: 50px;
	background: #FFF;
	border: 1px solid rgba(0,0,0,.05);
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.03);
}

.post {
	margin-bottom: 15px;
	padding: 0 40px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-size: 32px;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.post .title a {
	border: none;
	color: #323030;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: block;
	height: 30px;
	padding: 30px 0px 0px 0px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}

.button
{
	padding: 10px 25px;
	background: #000;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 12px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar2
{
	float: right;
	width: 250px;
	padding: 40px 30px 0px 30px;
	border: 1px solid rgba(0,0,0,.05);
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.03);
	background: #FFFFFF;
}

#sidebar {
	float: left;
	width: 230px;
	margin-right: 30px;
	padding: 40px 30px 0px 30px;
	color: #787878;
	border: 1px solid rgba(0,0,0,.05);
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.03);
	background: #FFFFFF;
}

#sidebar ul, #sidebar2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li, #sidebar2 li {
	margin: 0;
	padding: 0;
}

#sidebar li ul, #sidebar2 li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li, #sidebar2 li li {
	border-bottom: 1px solid rgba(0,0,0,.07);
	margin: 0px 0px;
	padding: 10px 0px;
	border-left: none;
}

#sidebar li li a, #sidebar2 li li a {
	color: #3B3B3B;
}

#sidebar li li span, #sidebar2 li li span {
	display: block;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2, #sidebar2 h2 {
	padding-bottom: 20px;
	font-size: 2em;
	color: #323030;
}

#sidebar p, #sidebar2 p {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
}

#sidebar a, #sidebar2 a {
	border: none;
}

#sidebar a:hover, #sidebar2 a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	margin: 0 auto;
	padding: 3em 0em 5em 0em;
	background: rgba(0,0,0,.06);
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	color: #8A8A8A;
}

#banner-wrapper
{
	overflow: hidden;
	padding: 3em 0em;
	background: rgba(0,0,0,.06);
}

#banner {
	width: 1200px;
	margin: 0px auto 0px auto;
}

#banner img
{
	box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.03);
}
